.tucaoText-img-avatar{
    margin-top: 20px;
    width: 40px;
    height: 40px;
}
.tucaoText-userName{
    margin-top: 20px;
    margin-left: 10px;
    font-size: x-large;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comment_content{
    margin-top: 10px;
}
.comment-userName{
    margin: 10px 10px;
}
.media-comment .comment{
    margin: 10px;
}
.media-comment .icon{
    margin: 10px;
    cursor: pointer;
}
.media-comment .menu{
    color: #999999;
}
.active{
    color: #499ef3;
}
.media-comment .icon:hover{
    color: #499ef3;
}
.media-comment{
    margin-bottom: 15px;
}
.media-comment .media-body{
    border-bottom: 1px solid #eee;
}
.sub-comment{
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
}