<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>吐槽日本</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/header.css">
    <script src="jquery/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<!--ヘーダを導入する-->
<div th:insert="~{header::header}"></div>
<!--body-->
<div class="container-fluid">
    <ul class="nav nav-tabs nav-justified">
        home
    </ul>
    <ul class="nav nav-tabs nav-justified">
        work
    </ul>
    <ul class="nav nav-tabs nav-justified">
        other
    </ul>
</div>


</body>
</html>